<%- layout('/layout/boilerplate') %> 
</div>
<% let hash = 0; %> 
<div class="container-fluid ">
<div class="d-grid gap-2 d-md-flex justify-content-md-center fixed-bottom">
<a class="btn btn-success createB" href="/<%= Title._id %>/newCard ">Nominate</a>
</div>
  <div class="row mb-4">
    <% if(!currentUser){ %> 
    <h6 class="nope text-center" ><a id="linkA" href="/Login">Login</a> or <a id="linkA" href="/register">Signup</a> to reveal <span class="hash title-2">#1</span></h6>
    <% } %> 
    <% for (let card of Cards) {%> 
      <% hash++; %> 
      <% const date = card.createdAt%> 
    <div class="col-12 col-md-3 display-show">
      <h1 id="titleCard" class="text-center mt-3"> <span class="hash" data=<%= hash %>>#<%= hash %></span> <%=card.name%> </h1>
        <div class="card">
          <img src="<%= card.image.thumbnail%>" loading="lazy" alt="<%=card.name%>">
            <div class="card-body">
              <div class="card-text text-muted">
              </div>
              <p class="card-text mt-1 text-center" id="caption"><%= card.about %> </p>
            </div>
            <form class="card-subtitle mb-2 text-center" action="/<%=Title._id%>/show/<%=card._id%>/likes" method="GET">
              <% if(currentUser) {%>  
                  <% if(card.likes.some(function (like) {return like === currentUser.username})) {%> 
                  <i class="btn fas fa-star btn-like button liked" data=<%=card._id%> data-1=<%=Title._id%>  data-value="Liked"></i>  
                  <span class="nLikes"data-like=<%=card.likes.length%> ><%#= card.likes.length %></span>
                  <% } else { %> 
      
                    <i class="btn fas fa-star btn-like button unLiked"   data=<%=card._id%> data-1=<%=Title._id%>  data-value="Like"></i>  

                  <span class="nLikes" data-like=<%=card.likes.length%> ></span>
                    <% } %> 
                             
                  <% }else{ %>
                    <i class="btn fas fa-star btn-like button unLiked noUser"></i>  
                  <span class="nLikes" data-like=<%=card.likes.length%> ></span>
                    <% } %> 
            </form>
            <a href="/<%=Title._id%>/show/<%=card._id%>" class="btn c-button"><i class="far fa-comments c-font"></i> <%=card.numOfComment%></a>
            <div class="card-footer text-end">
              <a href="/<%=card.creator%>"><%= card.creator%> <img src="<%= card.creatorProfile.profile%>" loading="lazy" id="imgProfile" class="round" alt="<%=card.creator%>"></a> 
            </div>
          </div>
        </div>
        <% } %>
    </div>              


</div>
<script src="/javascript/likes.js"></script>

<script>

const btns =document.querySelectorAll('.button')
const likes =document.querySelectorAll('.count')
const display =document.querySelectorAll('.nope');
const noUser =document.querySelectorAll('.noUser')

  const hash =document.querySelectorAll('.hash')

  for(let has of hash){
    const hashData = has.getAttribute("data");
      if(hashData <= 3){
        has.classList = 'text-danger'
      }
    }

for(let btn of btns){
  

   btn.addEventListener('click', function(e){
     e.preventDefault();
     if(btn.classList.length < 7){
     const likeCounterSpan = this.nextElementSibling;

    console.log(this.getAttribute("data-value"));
        if(this.getAttribute("data-value") === "Liked") {
           this.setAttribute("data-value", "Like")
          this.classList = "btn fas fa-star btn-like unLiked"
    }else if(this.getAttribute("data-value") ==="Like") {
          this.setAttribute("data-value", "Liked")
          this.classList = "btn fas fa-star btn-like liked"
    }

     const card_id = this.getAttribute("data")
     const title_id = this.getAttribute("data-1")
     axios.get(`/${title_id}/show/${card_id}/likes`)
     .then(function(res) {
       const data = res.data.totalLikes;
       likeCounterSpan.innerText = abbrNum(data,1);

     })
     .catch(function (e) {
       console.log(e);
     })
    } else{
      alert('Please Log in or signup')
    }
   })
  }
 for(let dis of display){
 dis.nextElementSibling.classList = "display"
 }

 const n =document.querySelectorAll('.nLikes')

for(let nl of n){
    const likeValue= nl.getAttribute('data-like')
    nl.innerText = abbrNum(likeValue,1)
  }

</script>

