<% layout('./layout/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/star.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="container-fluid">
<div class="row">
  <div class="col-6 col-md-4">
  <% for(let u of user) {%> 
    <h1 class="text-center"> <%#u.username.toUpperCase()%> </h1>
    <img class="text-center profile-thumb round" src="<%=u.profile.thumbnail%>" width="200px"alt="Profile Pic">
    <% if(currentUser.username === u.username ){ %> 
    <form action="/<%=u.username%>/image" method="POST" class="ms-5 mt-2" enctype="multipart/form-data">
      <label for="choose-file" class="custom-file-upload" id="choose-file-label">
        Change
     </label>
     <input name="profile" type="file" id="choose-file" style="display: none;" />
      <button type="submit" class="btn btn-sm btn-primary">upload</button>
    </form>
    <% } %> 
    <% } %> 
  </div>
  <div class="col-4 offset-2 col-md-4 offset-md-2 likesColumn">
    <h2 class="ms-1">Likes</h2>
    <i class="fas fa-star profileLike mt-2"></i>
    <% for(let count of Cards){ %>
      <p class="mt-3 count" data-count=<%=count.likes.length%> ></p> 
      <% }  %> 
  </div>
  </div>
        <div class="row">
            <% for (let card of Cards) {%> 
                <div class="col-md-4 offset-md-4">
                  <%# for (let head of Cards) {%> 
                    <h2 class="text-center"><a href="/<%=card.title._id%>/show"><%= card.title.title %></a> </h2>
                     <%# } %>
                    <div class="card mt-3">
                        <img src="<%= card.image.thumbnail%> " class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= card.name %> </h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><%= card.about %> </p>
              <!-- <a href="#" class="card-link">Card link</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
                        </div>
            <form class="mb-2 ms-2 text-center" action="/<%=Title._id%>/show/<%=card._id%>/likes" method="GET">
                <%# for (let lakes of Like){ %>
                    
                    <% if(currentUser) {%>  
                        
                
                        <% if(card.likes.some(function (like) {return like === currentUser.username})) {%> 
                  <i class="btn fas fa-star btn-like button liked" data=<%=card._id%> data-1=<%=card.title._id%>  data-value="Liked"></i>  
                            <span class=" text-center"><%= card.likes.length %></span>
                   <% } else { %> 
                    <i class="btn fas fa-star btn-like button unLiked" data=<%=card._id%> data-1=<%=card.title._id%>  data-value="Like"></i>  

                  <span class=" text-center"><%=card.likes.length%></span>
                    <% } %> 
                    
                     

                    <% } %>
                    
                    <%# } %> 
                </form>
            <a href="/<%=card.title._id%>/show/<%=card._id%>" class="btn c-button"><i class="far fa-comments c-font"></i> <%=card.numOfComment%></a>

                 <% if(currentUser && card.creator === currentUser.username) {%> 
                <form class="card-footer text-end" action="/<%=card._id%>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <% } %> 
            </div>
            
        </div> 
        <%  } %> 
     
        <!-- <div class="col-md-1">
            <%# for(let title of allTitle) {%> 
           <h2><a href=""><%#= title.title %> </a></h2>
           <%# } %> 
        </div> -->
      

       
      
        <p>
            <%# for(let lakes of Like){ %>
                
                <%# if(lakes.creator === currentUser._id) {%> 
                    <!-- <button data=<%#card._id%> data-1=<%#Title._id%> class="btn btn-success btn-fill button">Liked</button> -->
                    <%# } %> 
                    
                    <%# } %>
                </p>
            </div>  
            



        </div>

        <script src="/javascript/likes.js"></script>

        <script>

            const btns =document.querySelectorAll('.button')
           
            
            // const likes = document.querySelector('.nLikes');
            //   const hash =document.querySelectorAll('.hash')
            
            //   for(let has of hash){
            //     const hashData = has.getAttribute("data");
            //       if(hashData <= 3){
            //         has.classList = 'text-danger'
            //       }
            //       console.log(has.innerText);
            //     }
            
            
              // hash.addEventListener('click', function() {
              //   alert("hello")
              // })
              // This is profile.esj liked javascript below
              const like =document.querySelectorAll('.count')
    const likeAdd =document.querySelector('.count')

    let counts = 0;

    for(let likes of like){
      let count = likes.getAttribute('data-count')
      // counts += count.likes.length
       counts += parseInt(count);
      }
    // likes.innerText = counts;
    likeAdd.innerText =abbrNum(counts, 1);


            
            for(let btn of btns){
              
            
               btn.addEventListener('click', function(e){
                 e.preventDefault();
                 const likeCounterSpan = this.nextElementSibling;
                //  console.log(this.nextElementSibiling)
                //  if(this.textContent === "Like"){
                //    this.textContent = "Liked"
                //    this.classList ="btn btn-success"
                //  }else if(this.textContent ==="Liked"){
                //    this.textContent = "Like";
                //    this.classList = "btn btn-secondary"
                //  }

                console.log(this.getAttribute("data-value"));
           if(this.getAttribute("data-value") === "Liked") {
           this.setAttribute("data-value", "Like")
          this.classList = "btn fas fa-star btn-like unLiked"
         }else if(this.getAttribute("data-value") ==="Like") {
          this.setAttribute("data-value", "Liked")
          this.classList = "btn fas fa-star btn-like liked"
         }


                 const card_id = this.getAttribute("data")
                 const title_id = this.getAttribute("data-1")
                 axios.get(`/${title_id}/show/${card_id}/likes`)
                 .then(function(res) {
                   console.log("hurray working");
                   likeCounterSpan.innerText = res.data.totalLikes;
                 })
                 .catch(function (e) {
                   console.log(e);
                 })
               })
              }

    
        
              $(document).ready(function () {
	$('#choose-file').change(function () {
		var i = $(this).prev('label').clone();
		var file = $('#choose-file')[0].files[0].name;
		$(this).prev('label').text(file);
	}); 
 });
            </script>
            